
.footer {
	margin-top: 66px;
}

.footer a.button-view-more {
	margin-left: 38.8%;
	padding-left: 83px;
	padding-right: 97px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px 5px 0 0;
    font-family: Quicksand-Bold; 
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 0.8px;
	background-color: #816fca;
	white-space: pre;
}

.footer a.button-view-more:hover {
	background-color: #817fca;
}

.footer a.button-view-more:active {
	background-color: #819fca;
}

.footer img.button-view-more {
	position: absolute;
	margin-top: 6px;
}

.footer-black-strip {
	margin-top: 18px;
	height: 200px;
	background-color: #45413e;
}

.footer-proposal-box {
	margin-top: 26px;
	margin-left: 54px;
	margin-right: 4px;
	display: inline-block;
	height: 150px;
	width: 340px;
}

.footer-proposal-box img {
	margin-top: 26px;
	margin-right: 40px;
	float: left;
} 

.footer-proposal-box h3 {
	margin-top: 20px;
	font-family: Quicksand-Bold, sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #FFFFFF;
	letter-spacing: 0.6px;
} 

.footer-proposal-box p {
	margin-top: -3px;
	font-family: Quicksand-Bold; 
	font-size: 14px;
	font-weight: 700;
	color: #827f7c;
} 

.footer-white-box {
	height: 456px;
	background-color: #FFFFFF;
}

.footer-white-box-copyright {
	position: absolute;
	margin-top: 26px;
	margin-left: 52px;
}

.footer-white-box-copyright p {
	font-size: 13px;
	font-weight: 900;
    font-family: Quicksand-Light; 
    line-height: 3px;
    letter-spacing: 0.1px;
}

span.name-highlighter {
	color: #816fca;
}

.footer-white-box-list-with-header-left {
	display: inline-block;
	margin-top: 12px;
	margin-left: 222px;
	margin-right: 10px;
}

.footer-white-box-list-with-header-right {
	display: inline-block;
	margin-top: 6px;
	margin-left: -50px;
	margin-right: 18px;
}

.footer-white-box-list-without-header {
	display: inline-block;
	margin-top: 44px;
	margin-right: 30px;
	margin-left: -30px;
}

.footer-white-box img {
	opacity: 0.5;
}

.footer-white-box img.facebook{
	position: absolute;
	margin-top: 38px;
	margin-left: 72px;
}

.footer-white-box img.google{
	position: absolute;
	margin-top: 38px;
	margin-left: 106px;
}

.footer-white-box img.twitter{
	position: absolute;
	margin-top: 40px;
	margin-left: 145px;
}

.footer-white-box img.p-image{
	position: absolute;
	margin-top: 38px;
	margin-left: 182px;
}

.footer-white-box ul {
	margin-left: 50px;
	text-align: left;
	list-style-type: none;
}
		
.footer-white-box li {
	margin-bottom: 10px;
	margin-left: 12px; 
	padding: 3px; 
	font-size: 13px;
	font-weight: 100;
	font-family: FredokaOne-Regular, sans-serif; 
	white-space: pre;
}

.footer-white-box a {
	color: #848280;
}
	
.footer-white-box li.bold {
	margin-bottom: 16px;
	font-weight: 900;
	font-size: 12px;
	color: #000000;
}