.header {
	height: 73px;
	background-color: #ffffff;
	padding: 0px;
}

.header a.logo {
	margin-left: 54px;
	margin-top: 22px;
	margin-right: 152px;
	float: left;
}

.header ul.header-main-menu {
	margin: 0; 
	margin-top: 22px;
	padding: 0px; 
	float: left;
}

.header li.header-main-menu-categories {
	margin-right: 46px;
	font-family: FredokaOne-Regular, sans-serif; 
    font-size: 14px;
    font-weight: 500;
    color:#000000;
}

.header li.header-main-menu-categories ul {
	position: absolute;
	padding-top: 10px;
	display: none;
	width: 90px;
	height: 80px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.header li.header-main-menu-categories:hover ul {
	display: block;
}

.header li.header-main-menu-categories:hover ul.about {
	display: block;
	margin-left: 150px;
}

.header li.header-main-menu-categories:hover ul.contact {
	display: block;
	margin-left: 250px;
}

.header li.header-main-menu-categories ul li {
	display: list-item;
	list-style:none;
	margin-left: -16px;
	font-size: 16px;
}

.header span.header-main-menu-categories-triangle {
	margin-right: -20px;
	padding-left: 22px;
	font-size: 8pt;
	color: gray;
}

.header li.header-main-menu-language {
	margin-left: 44px;
	margin-right: -30px;
	font-family: Quicksand-Light, monospace;
    font-size: 14px;
    font-weight: 800;
    color:#a1a0a0;
}

.header li.header-main-menu-language ul {
	position: absolute;
	padding-top: 30px;
	display: none;
	width: 90px;
	height: 30px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.header li.absolute-1 {
	position: absolute;
	margin-top: -20px;
	margin-left: 450px;
}

.header li.absolute-2 {
	position: absolute;
	margin-top: -20px;
	margin-left: 520px;
}

.header li.header-main-menu-language:hover ul {
	display: block;
	margin-left: -50px;
}

.header li.header-main-menu-language ul li {
	font-weight: 900;
	margin-left: -12px;
	padding-right: 12px;
	color: #000000;
}

.header span.header-main-menu-language-triangle{
	padding-left: 4px;
	font-size: 8pt;
	color: gray;
}

.header ul.header-icons {
	position: absolute;
	margin-top: 20px;
	margin-left: 968px;
	float: left;
	opacity: 0.7;
}

.header li.header-icons {
	margin-right: 25px;
}

.header img.counter {
	position: absolute;
	margin-left: 190px;
	margin-top: -40px;
}

.header li.header-icons p {
	position: absolute;
	color: #816fca;
	margin-top: -62px;
	margin-left: 198px;
	font-size: 14px;
	font-weight: 900;
}

.header li {
	display: inline; 
	padding: 2px;
	opacity:0.8;
	-moz-opacity:1;
	-khtml-opacity: 1;
	cursor: default;
}

.header li:hover {
	opacity:1;
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
}