
body {
	width: 1280px;
	margin: 0 auto;
	margin-top: 0px;
	background-color: #83d38c;
}

a {
	text-decoration: none; 
	user-select: none; 
	color: #000000;
}

@font-face {
	font-family: 'FredokaOne-Regular'; 
	src: url('fonts/FredokaOne-Regular.ttf'); 
}

@font-face {
	font-family: 'PT-Sans-Bold'; 
	src: url('fonts/PT-Sans-Bold.ttf');
}

@font-face {
    font-family: 'Quicksand-Bold'; 
    src: url('fonts/Quicksand-Bold.ttf'); 
}

@font-face {
    font-family: 'Quicksand-Light'; 
    src: url('fonts/Quicksand-Light.ttf'); 
}

@font-face {
    font-family: 'Quicksand-Regular'; 
    src: url('fonts/Quicksand-Regular.ttf'); 
}

@font-face {
    font-family: 'Helvetica-Neue'; 
    src: url('fonts/Helvetica-Neue.ttf'); 
}

@font-face {
    font-family: 'Sniglet-extrabold'; 
    src: url('fonts/Sniglet-extrabold.ttf'); 
}