.control-panel {
	border-top: 1px solid #83df8c; 
    padding-top: 10px; 
    margin-top: 10px;
}

.control-panel-margin-div {
	margin-top: 26px;
}

.control-panel p {
	font-size: 13px;
	font-family: Quicksand-Light, sans-serif;
	font-weight: 600;
	letter-spacing: 0.2px;
	white-space: pre;
}

.control-panel p.white {
	margin-left: 552px;
	display: inline;
	color: #FFFFFF;
}

.control-panel p.black {
	display: inline;
	color: #000000;
}

.control-panel h1 {
	margin-top: 10px;
	margin-left: 50px;
	font-size: 48px;
	font-weight: 100;
	color: #FFFFFF;
	font-family: Helvetica-Neue, sans-serif;
	background-color: #83d38c;
	letter-spacing: 0px;
	float: left;
}

.white-line-left {
	margin-top: 44px;
	margin-left: 50px;
	width: 400px;
	height: 1px;
	background-color: #FFFFFF;
	float: left;
}

.white-line-right {
	margin-top: 44px;
	margin-right: 50px;
	width: 400px;
	height: 1px;
	background-color: #FFFFFF;
	float: right;
}

.select-panel {
	margin-top: 110px;
	margin-left: 54px;
	border-radius: 5px;
	background: #FFFFFF;
	height: 164px;
	width: 1170px;
}

.select-panel select.selector {
	position: absolute;
	width: 200px;
	padding: 9px 0px 8px 14px;
	border: 2px solid #a2a09e;
	border-radius: 100px;
	outline: none;
	overflow: hidden;
	font-size: 13px;
	letter-spacing: 1.9px;
	color: #141414;
	font-weight: 600;
    font-family: Quicksand-Bold, sans-serif;
	white-space: pre;
	-webkit-appearance: none;
	background-image: url(images/arrow.png);
	background-position: 90% center;
	background-repeat: no-repeat;
}

.select-panel select.first-line-1 {
	margin-top: 30px;
	margin-left: 94px;
}

.select-panel select.first-line-2 {
	margin-left: 500px;
	margin-top: 30px;
}

.select-panel select.first-line-3 {
	margin-left: 934px;
	margin-top: 30px;
}

.select-panel select.second-line-2 {
	margin-top: 94px;
	margin-left: 500px;
}

.select-panel select.second-line-3 {
	margin-top: 94px;
	margin-left: 934px;
}

.select-panel option{
	border-radius: 50px;
}

.select-panel p {
	display: inline-block;
	font-family: Quicksand-Bold, sans-serif;
	font-size: 13px;
	font-weight: 700;
	color: #000000;	
}

.select-panel p.first-line-1 {
	position: absolute;
	margin-top: 42px;
	margin-left: 31px;
} 

.select-panel p.first-line-2 {
	position: absolute;
	margin-top: 42px;
	margin-left: 438px;
} 

.select-panel p.first-line-3 {
	position: absolute;
	margin-top: 42px;
	margin-left: 874px;
}

.select-panel p.second-line-1 {
	position: absolute;
	margin-top: 104px;
	margin-left: 31px;
} 

.select-panel p.second-line-2 {
	position: absolute;
	margin-left: 438px;
	margin-top: 104px;
}

.select-panel p.second-line-3 {
	position: absolute;
	margin-left: 874px;
	margin-top: 104px;
}

.select-panel-color-replacement {
	position: absolute;
	margin-left: 96px;
	margin-top: 100px;
}

.header span.selector-triangle{
	margin-left: 60px;
	font-size: 8pt;
	color: gray;
}

.select-panel-circle {
	display: inline-block;
	border: 1px solid black;
	border-radius: 100%;
	height: 15px;
	width: 15px;
	margin: 0px 4px 0px 0px;
}

.select-panel-circle:hover {
	border: 3px solid black;
	margin: -3px 1px 0px -1px;
}

.circle-background-1 {
	background: #c7c6c5;
}

.circle-background-2 {
	background: #43c0cf;
}

.circle-background-3 {
	background: #3d402f;
}

.circle-background-4 {
	background: #4aaf00;
}

.circle-background-5 {
	background: #315bbd;
}

.circle-background-6 {
	background: #ec6115;
}

.circle-background-7 {
	background: #dc041d;
}

.circle-background-8 {
	background: #FFFFFF;
}

.control-panel p.results {
	margin-top: 29px;
	text-align: center;
	font-family: Quicksand-Bold, sans-serif; 
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 0.2px;
}

.merchandise-panel {
	margin-left: 56px;
	margin-top: -9px;
}

.merchandise-search-result {
	display: inline-block;
	margin-top: 25px;
	width: 270px;
	height: 366px;
	background-color: #eeeeee;
	border-radius: 5px;
	margin-right: 25px;
	overflow: hidden;
}

.merchandise-search-result-white-box {
	margin-top: 260px;
	background-color: #FFFFFF;
}

.merchandise-search-result p.title {
	padding-top: 16px;
	padding-left: 14px;
	padding-right: 20px;
	text-align: center;
	color: #000000;	
	font-size: 16px;
	font-family: Quicksand-Bold, cursive; 
	font-weight: 600;
}

.merchandise-search-result p.price {
	margin-top: 4px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: 900;
	font-family: Sniglet-extrabold, sans-serif; 
	font-size: 14px;
	color: #bdc3c7;
}