.control-panel {
    padding-top: 10px; 
    margin-top: 0px;
    margin-bottom: -108px;
    padding-bottom: 110px;
    background-color: #f1edea;
}

.control-panel-margin-div {
	margin-top: 34px;
}

.control-panel p {
	font-family: Quicksand-Regular, sans-serif; 
	font-size: 12px;
	letter-spacing: 0.6px;
	font-weight: 600;
	white-space: pre;
}

.control-panel p.violet {
	margin-left: 396px;
	display: inline;
	color: #816fca;
}

.control-panel p.black {
	display: inline;
	color: #000000;
}

.control-panel h1 {
	margin-top: 12px;
	margin-left: 40px;
	font-size: 47px;
	font-weight: 100;
	color: #000000;
	letter-spacing: 0.1px;
	font-family: Helvetica-Neue, sans-serif;
	float: left;
}

.white-line-left {
	margin-top: 46px;
	margin-left: 50px;
	width: 200px;
	height: 2px;
	background-color: #e5e2df;
	float: left;
}

.white-line-right {
	margin-top: 46px;
	margin-right: 50px;
	width: 200px;
	height: 2px;
	background-color: #e5e2df;
	float: right;
}

.product-panel {
	margin-top: 120px;
	margin-right: 54px;
	margin-left: 52px;
	height: 960px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.preview-product-panel {
	float: left;
	background-color: #83d38c;
	height: 570px;
	width: 600px;
}

.preview-product-panel img {
	position: absolute;
	margin-top: 34px;
	margin-left: 34px;
}

.mini-version {
	float: left;
	margin-top: 26px;	
	margin-left: 30px;
	width: 72px;
	height: 70px;
	overflow: hidden;

}

.product-panel ul{
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-user-select: none;
}

.product-panel li.color-selection {
	margin-left: 70px;
	margin-top: -20px;
	font-size: 13px;
	width: 150px;
	padding: 8px 0px 0px 2px;
	border: 3px solid #f1edea;
	border-radius: 100px;
	outline: none;
	overflow: hidden;
	letter-spacing: 1.5px;
	color: #757775;
	font-weight: 600;
    font-family: Quicksand-Bold;
    cursor: default;
	background-image: url(images/arrow.png);
	background-position: 95% center;
	background-repeat: no-repeat;
}

.product-panel li.color-selection ul {
	position: absolute;
	padding-top: 10px;
	display: none;
	width: 150px;
	height: 90px;
	background-color: #FFFFFF;
	border-radius: 20px;
}

.product-panel li.color-selection:hover ul {
	display: block;
}

.product-panel li.color-selection ul li {
	display: list-item;
	list-style:none;
	font-size: 16px;
}

.product-panel p.color-selection {
	margin-top: -22px;
	margin-left: 40px;
}

.product-panel p.price {
	margin-left: 84px;
	margin-top: 46px;
	font-family: Myriad Pro;
	font-size: 48px;
	font-weight: 100;
	letter-spacing: 0.2px;
}

.select-panel-circle {
	display: inline-block;
	margin: 0px 0px 0px 8px;
	border-radius: 100%;
	height: 22px;
	width: 22px;
}

.light-gray {
	background-color: #c7c6c5;
}

.medium-gray {
	background-color: #a9a9a9;
}

.dark-gray {
	background-color: #788899;
}

.product-panel span.triangle{
	margin-left: 18px;
	font-size: 8pt;
	color: gray;
}

.product-panel li.number-selection {
	display: inline-block;
	margin-left: 70px;
	margin-top: 20px;
	width: 100px;
	height: 30px;
	padding: 4px 0px 0px 2px;
	border: 3px solid #f1edea;
	border-radius: 100px;
	outline: none;
	overflow: hidden;
	letter-spacing: 1.5px;
	color: #757775;
	font-weight: 600;
    font-family: Quicksand-Bold, monospace;
    cursor: default;
	background-image: url(images/change_number.PNG);
	background-position: 40% center;
	background-repeat: no-repeat;
}

.product-panel p.number-selection{
	display: inline-block;
	margin-left: 5px;
	margin-top: 1px;
	font-size: 15px;
	white-space: pre;
}

.product-panel li.add-to-cart {
	display: inline-block;
	margin-left: 14px;
	width: 150px;
	height: 38px;
	padding: 4px 0px 0px 2px;
	border: 3px solid #f1edea;
	border-radius: 120px;
	outline: none;
	overflow: hidden;
	letter-spacing: 1.5px;
	color: #FFFFFF;
	font-weight: 600;
    font-family: Quicksand-Bold;
	background-color: #816fca;
}

.product-panel li.add-to-cart:hover {
	background-color: #8B008B;
}

.product-panel li.add-to-cart:active {
	background-color: #DC143C;
}

.product-panel p.add-to-cart {
	margin-left: 26px;
	margin-top: 10px;
	color: #FFFFFF;
}

.product-panel li.product-description {
	margin-left: 70px;
	margin-top: 36px;
	height: 120px;
	width: 350px;
	font-size: 15px;
	color: #000000;
    font-family: Quicksand-Bold, sans-serif;
    line-height: 24px;
}

.product-panel li.product-description-read-more {
 	margin-top: 6px;
 	margin-left: 70px;
 	color:#816fca;
 	font-size: 18px;
 	font-weight: 700;
 	letter-spacing: 1.4px;
 	cursor: default;
 }


.product-panel li.share-links {
	margin-top: 26px;
	margin-left: 70px;
 	font-size: 16px;
	color: #7b7978;
    font-family: Quicksand-Bold, sans-serif;
}

.product-panel li.share-links:hover {
	opacity: 1;
}

.product-panel img{
	display: inline-block;
	margin-left: 18px;
	opacity: 0.5;
}

.content {
	position: absolute;
	margin-top: 600px;
}

.tabs {
    position: relative;
    clear: both;
    margin-top: 16px;
}
.tab {
    float: left;
}
.tab input[type="radio"] {
    display: none;
}

.tab label {
    display: block;
    position: relative;
    z-index: 2;
    top: 1px;
    height: 70px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #d2d2d1;
    background-color: #FFFFFF;
    box-sizing: border-box;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    border-top-color: #FFF;
    border-left-color: #FFF;
    border-right-color: #FFF;
    opacity: 0.4;
	font-size: 24px;
	font-family: FredokaOne-Regular, sans-serif; 
	font-weight: 900;	
	letter-spacing: 0px;
	padding-top: 20px;
	padding-left: 42px;
}

.tab label.first {
	margin-left: 186px;
	margin-top: 0px;
    width: 220px;
}

.tab label.second {
	margin-top: 0px;
    width: 350px;
}

.tab label.third {
	margin-top: 0px;
	width: 210px;
}

.tab input[type="radio"]:checked ~ label {
    background-color: #fff;
    border-bottom-color: #fff;
    border-top-color: #d2d2d1;
    border-left-color: #d2d2d1;
    border-right-color: #d2d2d1;
    opacity: 1;
}

.tab-content {
    height: 220px;
    width: 1130px;
    position: absolute;
    padding: 20px;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid #d2d2d1;
    background-color: #fff;
}
.tab-content * {
    margin: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.6s ease;
}
.tab input[type="radio"]:checked ~ label ~ .tab-content {
    z-index: 1;
}
.tab input[type="radio"]:checked ~ label ~ .tab-content * {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.content-column {
	float: left;
	margin-top: 48px;
	height: 230px;
	width: 450px;
}

.first-column {
	margin-left: 50px;
}

.second-column {
	margin-left: 84px;
}

.tab p.content-description {
	font-family: Quicksand-Regular, sans-serif;
	font-size: 16px;
	font-weight: 500;	
	letter-spacing: 0.8px;
	white-space: normal;
	line-height: 26px;
	color: #5e5d5c;
}

.popular-item {
	margin-top: 32px;
	height: 200px;
}

.popular-item h1 {
	float: left;
	font-size: 22px;
	font-family: FredokaOne-Regular, sans-serif; 
	font-weight: 800;	
	letter-spacing: 0px;
	color: #000000;
}

.gray-line-left {
	margin-top: 28px;
	margin-left: 50px;
	width: 460px;
	height: 2px;
	background-color: #e5e2df;
	float: left;
}

.gray-line-right {
	margin-top: 28px;
	margin-right: 50px;
	width: 460px;
	height: 2px;
	background-color: #e5e2df;
	float: right;
}


.merchandise-panel {
	margin-left: 56px;
	margin-top: -140px;
}

.merchandise-search-result {
	display: inline-block;
	margin-top: 20px;
	width: 270px;
	height: 366px;
	background-color: #83d38c;
	border-radius: 5px;
	margin-right: 25px;
	overflow: hidden;
}

.merchandise-search-result-white-box {
	margin-top: 262px;
	background-color: #FFFFFF;
}

.merchandise-search-result p.title {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 20px;
	text-align: center;
	color: #000000;	
	font-size: 15px;
	font-family: Quicksand-Bold, cursive; 
	font-weight: 600;
	white-space: normal;
}

.merchandise-search-result p.price {
	margin-top: 4px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: 900;
	font-family: Sniglet-extrabold, sans-serif; 
	font-size: 14px;
	color: #bdc3c7;
}
